body {
    scroll-margin-right: 40px;
    padding: 0;
    font-family: Arial, sans-serif;
    }

 h2{
    
        height:30px;
        margin-top: 0px;
        color:red;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:x-large;
    }

h3{
    margin-top: 30px;
    margin-bottom: 50px;
    color:red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    }
    
    
 h1{
    
    border-radius: 10px;
    padding-right: 50px;
    
    
    
    text-align: left;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    color:#d71e1e
    
    }

h4{
    margin-top: 1px;
    clear:both;
    }

.logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 5px;
    text-align: left;
    }
    
.logo img {
    height: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    }

.menu {
        height: 40px;
        display: block;
        margin-right: 20px;
        margin-bottom: 30px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 60px;
        right: 50px;
        }
        
        .menu ul {
        font-size: large;
        margin-left: 20px;
        list-style: none;
        margin: 0;
        padding: 10px;
        
        text-align: center;
        }
        
.menu li {
        
        display: inline-block;
        margin: 0 10px;
        }
        
.menu a {
     color: black;
    text-decoration: none;
     font-weight:bold;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 25px;
      padding: 5px;
      transition: all 0.3s ease;
      margin-right: 10px;
      }
.menu a:hover {
    color:white;
    background-color: red ;
     border-radius: 40px;
        }   

.title{
    text-align: center;
}

.m3{
    margin-top: 20px;
     margin-left: 30px;    
    height: 50px;
    width: 50px;
    border-radius: 200px;

    background-color:whitesmoke;
   

}
.m1{
    
    margin-right: 650px;
    height: 50px;
    width:50cqi;
    margin-top: 50px;
    border-radius: 10px;
    float:right;
    background-color: #d71e1e;
    color:#d71e1e
    

}
.m2{
    margin-right: 600px;
    height:50px;
    width:50cqi;
    border-radius: 10px;
    float:right;
    background-color: #d71e1e;
    color:#d71e1e
}






